%h1 Received Messages
%table.display.wide
  %tr
    %th From
    %th 
    %th Job Title
    %th Company
    %th Sent at
    %th
  - @messages.each do |message|
    %tr
      %td= message.user.name
      %td= mail_to message.user.email
      %td= link_to message.job.title,               message.job
      %td= link_to message.job.company,             message.job
      %td= link_to message.created_at,              message
      %td= link_to message.body.strip.truncate(40), message
