%h1 The Jobs
%table.display.wide
  %tr
    %th Title
    %th Company
    %th Description
  - @jobs.each do |job|
    %tr
      %td= job.title
      %td= job.company
      %td= simple_format paragraph_prefix job.description, 75
      %td= link_to 'Show', job
      - if current_user and job.user == current_user
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete
