%table.display
  %tr
    %th Title
    %td= @job.title
  %tr
    %th Company
    %td= @job.company
  %tr
    %th Description
    %td= @job.description

%br

- if current_user and @job.user == current_user
  %table.minimal
    %tr
      %td= link_to 'Edit', edit_job_path(@job)
      %td= link_to 'Delete', @job, :confirm => 'Are you sure?', :method => :delete
