!!!
%html

  %head
    %title Jobboard
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
  
    %div.navbar
      %table{style:"width:100%"}
        %tr
          %td
            %table.minimal
              %tr
                %td
                  %b.logolink= link_to "JobBoard", root_path
                - if user_signed_in?
                  %td
                    Welcome
                    %i= current_user.name
          %td
            %table.minimal{style:"float:right"}
              %tr
                - if user_signed_in?
                  %td= link_to 'Post Job', new_job_path
                = render 'layouts/registration_items'
                = render 'layouts/login_items'
    
    %p.notice= notice
    %p.alert= alert
    
    = yield
