!!!
%html

  %head
    %title Jobboard
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div [----- NAV BAR goes here -----]
    
    %p.notice= notice
    %p.alert= alert
    
    = yield
